@use '../../../styles.scss' as *;

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $font-green;
    font-family: 'Quicksand';
}

header{
    width:100%;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    @include flex-center;
    flex-direction: column;
}

article {
    @include flex-center;
}

.cuisine-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 110px;
    row-gap: 20px;
    cursor: pointer;
    width: 100%;

    div {
        width: 100%;
    }

    h3 {
        font-size: 28px;
        @include flex-start;
        gap: 10px;
        padding-bottom: 5px;
    }

    .foot-img {
        width: clamp(300px, 15vw, 400px);

    }

    .icon {
        width: 28px;
    }
}

.most-Liked-recipes {
    width: 100%;
    min-height: 200px;
    background-color: #F7F9F7;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 30px;
    margin: 50px auto;
    @include flex-start;
    gap: 40px;

    .text-area {
        width: 55%;
    }

    h1 {
        font-weight: 700;
        font-size: clamp(40px, 7vw, 64px);
    }

    span {
        font-weight: 500;
        font-size: clamp(18px, 3vw, 32px);
    }
}

.most-Liked-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start !important;
    justify-content: end !important;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-weight: 600;
        font-size: 24px;

        img {
            width: 24px;
        }
    }
}

.btn-area {
    width: 100%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    div {
        padding: 5px;

        button {
            color: $font-green;
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            font-size: 20px;
            margin-right: 10px;
        }

        &:hover {
            background-color: #F7F9F7;
        }
    }

}

.hover {
    img {
        transition: transform 300ms ease-in-out;
    }

    .img-box {
        width: (300px, 15vw, 400px);
        height: 400px;
        overflow: hidden;
    }

    .foot-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &:hover {
        .icon {
            transform: rotateZ(25deg);
        }

        .foot-img {
            transform: scale(1.1);
        }
    }
}

.over-flow {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: grabbing;
}

@media (max-width: 1554px) {
    .cuisine-box {
        column-gap: clamp(10px, 5vw, 115px);
    }
}

@media (max-width: 1310px) {
    .cuisine-box {
        grid-template-columns: repeat(2, minmax(280px, 400px));
        justify-content: center;
        column-gap: 40px;
    }
}

@media (max-width: 850px) {
    .cuisine-box {
        @include flex-center;
        flex-direction: column;

        div {
            flex-direction: column;
            @include flex-center;
        }

    }

    .most-Liked-recipes {
        width: 100%;
        @include flex-start;
        flex-direction: column;
        gap: 20px;

        .text-area {
            width: 100%;
        }
    }

    .most-Liked-container {
        width: 100%;
        display: flex;
        align-items: start !important;
        justify-content: end !important;
        flex-direction: column;
        gap: 10px;
    }

    .header-position-mobile {
        left: 8px !important;
    }
}

@media (max-width: 422px){
.most-Liked-recipes{
    padding: 8px;
}
}