<main>
    <section class="max-width">
        <header ><img class="logo" src="assets/img/logo-green.png">
            <p routerLink='/'><img src="assets/img/arrow-left.png">Back</p>
        </header>
        <article class="most-Liked-recipes">
            <div class="text-area">
                <h1>Cookbook</h1>
                <span>From quick bites to gourmet delights, explore them all in our ultimate cookbook and get inspired
                    for
                    your
                    next culinary adventure.
                </span>
            </div>

            <div class="most-Liked-container">
                <h2>Most liked recipes <img src="assets/img/view/favorite.png"></h2>
                <div class="over-flow" (mousedown)="startDrag($event)" (mousemove)="onDrag($event)"
                    (mouseup)="stopDrag()" (mouseleave)="stopDrag()">
                    <app-top-recipes></app-top-recipes>
                </div>
            </div>
        </article>
        <article class="cuisine-box">
            <div *ngFor="let item of imageNames ; let i = index" class="hover">
                <h3>{{item}} cuisine<img class="icon" src="assets/img/cookbook/icons/{{item}}.png"></h3>

                <div class="img-box">
                    <img class="foot-img" (click)="loadCuisineRecipes(item)" src="assets/img/cookbook/{{item}}.png">
                </div>
            </div>
        </article>
        <div class="btn-area">
            <div>
                <button routerLink='/genrate-recipe'>Generate new recipe</button>
                <img src="assets/img/results/arrow-right-withe.png">
            </div>
        </div>
    </section>
</main>