@use '../../../styles.scss' as *;

main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand';
    color: #10310B;
}

section {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    width: 100%;

    .input-content {
        display: flex;
        align-items: start;
        justify-content: center;


        .ingredient-container {
            width: 55%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }

        .add-container {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            div {
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 8px;

                img {
                    width: 18px;
                    cursor: pointer;
                }
            }

            input {
                padding: 1px 3px;
                width: 30px;
                text-align: center;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

    .addlist {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 20px;
    }

}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    h1 {
        margin-top: 30px;
        font-size: clamp(32px, 8vw, 54px);
        font-weight: 600;
        font-family: 'Quicksand';
        color: $font-green;
    }

    h2 {
        font-size: clamp(18px, 2.5vw, 24px);
        font-weight: 500;
        font-family: 'Quicksand';
        padding: 0 10px;
        text-align: center;
    }
}

.container-style {
    background-color: $container-green;
    border-radius: 16px;
    width: 400px;
    min-height: 150px;
    padding: 8px 8px;
}

input {
    background-color: $input;
    border-radius: 16px;
    border-color: transparent;
    cursor: pointer;
    font-family: 'Quicksand';
    font-size: 16px;
     padding-left: 5px;
}

.suggestion-item {
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Quicksand';
    font-size: 16px;
}

.text {
    color: $font-green;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 500;
}

.btn-primary {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: $font-green;
    color: white;
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 600;
}

.flex-end {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.dnone {
    display: none !important;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-container {
    padding: 0px 25px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 5px;
    font-size:clamp(14px, 1.5vw, 18px);
}

.padding-right {
    padding-right: 10px;
}

.img-container{
    @include flex-center;
    gap: 10px;
}

.edit-container{
    display: flex;
    align-items: start;
    gap: 5px;

    input{
        text-align: center;
        @include flex-center;
        width: 35px !important;
    }
}

@media (max-width: 920px) {
   section{
    @include flex-center;
    flex-direction: column;
    .addlist{
        padding-left: 5px;
    }
   }
}

@media (max-width: 480px) {
   section{
    @include flex-center;
    flex-direction: column;
   }

   .input-content{
    flex-direction: column;
   }

   .container-style{
    width: clamp(280px, 40vw, 400px);
}
}