<main>
    <section class="max-width text-conatiner">
        <img class="start-header" src="assets/img/logo-white.png">
        <div class="title-conatiner">
            <h2>AI-Powered recipe generator</h2>
            <h1>Code à Cuisine</h1>
            <button class="start-btn" routerLink="/genrate-recipe">Get Started</button>
        </div>
       

        <div class='btn-cookboock-container'><h3>Hungry for inspiration?</h3><button routerLink="/Cook-Book">Go to cookbook<img src="assets/img/Arrow-withe.png"></button></div>
    </section>
    <section class="meal-container">
        <img class="meal-3" src="assets/img/start-screen/meal-3.png">
        <img class="meal-2" src="assets/img/start-screen/meal-2.png">
        <img class="meal-1" src="assets/img/start-screen/meal-1.png">
    </section>
</main>