@use '../../../styles.scss' as *;

main {
    width: 100%;
    height: 100vh;
    background-color: $bg-green;
    @include flex-main;
    overflow: hidden;

    .meal-container {
        @include flex-main;
        flex-direction: column;
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100vh;
        width: 480px;
    

        img {
            width:  470px;
            height: 450px;
        }

        .meal-3 {
            height: 430px !important;
            position: absolute;
            top: 0px;
        }

        .meal-2 {
            position: absolute;
            top: 230px;
        }

        .meal-1 {
            position: absolute;
            top: 500px
        }
    }

    .text-conatiner {
        padding-left: 50px;
        width: 70%;
        height: 100vh;
        position: relative;
        top: 0;
        z-index: 10;

        display: flex;
        justify-content: center;
        flex-direction: column;

        color: white;

        .title-conatiner {
            position: absolute;
            top: 200px;

            h2 {
                font-size: clamp(18px, 5vw, 48px);
                font-weight: 600;
                font-family: 'Quicksand';
            }

            h1 {
                font-size: clamp(55px, 9vw, 104px);
                font-weight: 700;
                font-family: 'Ubuntu';
            }
        }

        .start-btn {
            font-family: 'Quicksand';
            margin-top: 50px;
            background-color: $interactive-bg;
            color: $btn-font-color;
            font-size: 24px;
            padding: 10px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                background-color: $interactive-bg-hover;
            }
        }
    }
}

.start-header{
    position: absolute;
    top: 30px;
    left: 55px;

    img {
        width: 150px;
    }
}

.btn-cookboock-container {
    display: flex;
    gap: 30px;
    position: absolute;
    top: min(calc(100vh - 100px), 900px);
    
    h3 {
        font-size: clamp(24px, 4vw, 32px);
        font-weight: 500;
        font-family: 'Ubuntu';
    }

    button {
        min-width: 200px;
        color: white;
        font-family: 'Quicksand';
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 15px;
        font-size: clamp(14px, 4vw, 20px);
        font-weight: 500;
        padding: 5px;

        &:hover{
            background-color: #faf0e654;
        }
    }
}

@media (max-width: 1120px) {
   .meal-container {
        transform: translateX(clamp(80px, 18vw, 220px));
    }


    .btn-cookboock-container{
        justify-content: start;
        align-items: start;
         gap: 0px;
         row-gap: 10px;
        flex-direction: column;
        top: min(calc(100vh - 100px), 870px);
    }


}

@media (max-width: 600px) {
    .text-conatiner{
    padding-left:8px !important;
    }

    .header-position-mobile{  
    left: 8px !important;
    }
}
