<main>
    <header><img src="assets/img/logo-green.png">
        <p routerLink='/generate-recipe'><img src="assets/img/arrow-left.png">Recipe generator</p>
    </header>
    <section class="max-width">
        <article class="heat-line-container">
            <div class="titel-area">
                <p class="flex-center"><img src="assets/img/preferences/schedule.png">Coocking time:
                    {{service.recipeDitail()[0]?.cookingTime
                    }}min</p>
                <h1>{{service.recipeDitail()[0]?.name}}</h1>
                <p class="styling-p">Coocking person: {{service.recipeDitail()[0]?.cooks}} <span><img class=".chef-img"
                            src="assets/img/view/chef-1.png"></span> <span>
                        <img *ngIf="service.recipeDitail()[0]?.cooks === 2" class="chef-img"
                            src="assets/img/view/chef-2.png"></span></p>
            </div>
            <div class="user-info-container">
                <div class="likes-area">
                    <div class="like-p-style">
                        <p>{{service.recipeDitail()[0]?.preference}}</p>
                        <p>{{timeCategory}}</p>
                        <p class="flex-center"><img [src]=liked>{{service.recipeDitail()[0]?.likes + like}}</p>
                    </div>
                </div>
                <div class="user-info">
                    <h3>Nutritional information</h3>
                    <div>
                        <p>Energie<i></i>{{service.recipeDitail()[0]?.nutrition.perServing.calories}}</p>
                        <p>Protein<i>{{service.recipeDitail()[0]?.nutrition.perServing.protein}}</i></p>
                        <p>Fat<i>{{service.recipeDitail()[0]?.nutrition.perServing.fat}}</i></p>
                        <p>Carbs<i>{{service.recipeDitail()[0]?.nutrition.perServing.carbohydrates}}</i></p>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="content-divider bg-Ingredients">
                <h2>Ingredients</h2>
            </div>
            <div class="ingredients-area">
                <div class="ingredients-text">
                    <h4>Your ingredients</h4>

                    <p *ngFor="let item of service.recipeDitail()[0]?.ingredients; let i = index">
                        <li>{{item.amount}}</li>{{item.name}}
                    </p>

                </div>
                <div class="ingredients-text">
                    <h4>Extra ingredients</h4>
                    <p *ngFor="let item of service.recipeDitail()[0]?.missingIngredients; let i = index">
                        <li>{{item.amount}}</li>{{item.name}}
                    </p>
                </div>
            </div>
        </article>

        <article>
            <div class="content-divider bg-Directions">
                <h2 class="padding-center">Directions</h2>
            </div>
            <div class="steps-area">
                <div *ngFor="let item of service.recipeDitail()[0]?.steps; let i = index" class="steps-container">
                    <div class="flex-space">
                    <h4>
                        <p>{{i + 1}}.</p>{{item.title}}
                    </h4>
                    <img [src]="
                        service.recipeDitail()[0]?.cooks === 2
                        ? 'assets/img/view/chef-' + (i % 2 === 0 ? 1 : 2) + '.png'
                        : 'assets/img/view/chef-1.png'">
                    </div>
                    <p class="steps-text">{{item.description}}</p>
                </div>
            </div>
        </article>
        <div class="like-area"> <h5 >Just finished this meal?</h5><div><p>Give it a heart, so that the others know this is delicious.</p><img (click)="likeTheRecipe()" [src]="path"></div></div>
    </section>

    <footer><h3>Find inspiration for your next culinary adventure!</h3><button routerLink='/Cook-Book'>Cookbook</button></footer>
</main>