<main>
    <section>
        <article class="heat-line-container">
            <div class="titel-area">
                <p class="flex-center"><img src="assets/img/preferences/schedule.png">Coocking time: 20min</p>
                <h1>Gericht</h1>
                <p>Coocking person: 2 <span><img class=".chef-img" src="assets/img/view/chef-1.png"></span> <span>
                        <img class=".chef-img" src="assets/img/view/chef-2.png"></span></p>
            </div>
            <div class="user-info-container">
                <div class="likes-area">
                    <div class="like-p-style">
                        <p>Vegetarisch</p>
                        <p>Qick</p>
                        <p class="flex-center"><img [src]=liked>66</p>
                    </div>
                </div>
                <div class="user-info">
                    <h3>Nutritional information</h3>
                    <div>
                        <p>Energie<i>58g</i></p>
                        <p>Protein<i>58g</i></p>
                        <p>Fat<i>58g</i></p>
                        <p>Carbs<i>58g</i></p>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="content-divider bg-Ingredients">
                <h2>Ingredients</h2>
            </div>
            <div></div>
            <div></div>
        </article>

        <article>
            <div class="content-divider bg-Directions">
                <h2>Directions</h2>
            </div>

            <div></div>
            <div></div>
        </article>
    </section>

    <div class="btn-area">
        <h3>Find inspiration for your next culinary adventure!</h3>
        <button>Get started</button>
    </div>
</main>