@use '../../../styles.scss' as *;

main {
    display: flex;
    justify-content: center;
    background-color: $bg-green;
    width: 100%;
     min-height: 100vh;
    height: auto;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
}

.loading-animation {
    @include flex-center;
    flex-direction: column;

    div {
        background-color: #C4D0C4;
        border-radius: 16px;
        height: max-content;

        img {
            width: 250px;
            padding: 5px;
        }
    }


    h4 {
        display: flex;
        gap: 5px;
        padding-top: 20px;
        font-size: clamp(36px, 4vw, 48px);
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;

        p {
            animation: blinken 2s linear infinite;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 0.4s;
            }

            &:nth-child(3) {
                animation-delay: 0.8s;
            }
        }
    }
}

@keyframes blinken {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.title-container {
    width: 90%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: $font-color-white;
        font-size: clamp(32px, 4vw, 54px);
        font-weight: 600;
        margin-bottom: 20px;
    }

    span {
        color: $font-color-white;
        font-size: clamp(18px, 2vw, 24px);
        ;
    }


    .text-area {
        width: 50%;
    }

    img {
        width: clamp(290px, 40%, 574px);
        height: auto;
        border-radius: 16px;
    }
}

.user-inf-container {
    @include flex-start;
    gap: 10px;
    margin-top: 20px;

    .user-inf {
        background-color: #EFE9DF;
        width: max-content;
        padding: 3px 5px;
        border-radius: 16px;
        color: $font-green;
        font-size: 18px;
    }
}

.recipe-area {
    position: relative;
    margin-top: 80px;
    width: 90%;
    @include flex-start;
    flex-wrap: wrap;
    gap: 30px;
    color: $font-green;

    .recipe-container {
        position: relative;
        box-sizing: border-box;
        background-color: $container-green;
        border-radius: 16px;
        width: 400px;
        min-height: 250px;
        height: 220px;
        padding: 15px;

    }

    h1 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 24px;

        img {
            width: 30px;
        }
    }

    h2 {
        margin: 10px 0px;
        font-size: clamp(24px, 3vw, 32px);
        color: black;
    }

    button {
        font-size: 24px;
        color: $btn-font-color;
        background-color: $input;
        padding: 5px;
        position: absolute;
        bottom: 20px;
    }

    p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;

        img {
            width: 18px;
        }
    }
}

.btn-area {
    margin-top: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    div {
        padding: 3px;

        button {
            color: white;
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            font-size: 20px;
            margin-right: 10px;
        }

        &:hover {
            background-color: rgba(245, 222, 179, 0.113);
        }
    }

}

.dnone {
    display: none !important;
}

.robot-arm{
    display:none
}

.error-message {
    @include flex-center;
    width: 100%;
}

header{
  position: absolute;
  left: 20px;
  top: 20px;
}

@media(max-width: 920px){

    .robot-arm{
        display: block !important;
        width: 344px;
        height: auto;
        border-radius: 16px;
    }

    .title-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        

        img{
            display:none
        }

        .text-area{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;
            padding: 0px 20px;
        }
    }
      .recipe-area {
            align-items: center;
        justify-content: center;
        }
}