<main>
    <section>
        <h1>Italian cuisine</h1>

        <div class="recipes-container"
            *ngFor="let item of service.recipes() | slice:startIndex:endIndex;, let i = index">
            <div class="recipe-titel" [routerLink]="['/View',item.category ,item.name]">
                <h3>
                    <img src="assets/img/preferences/schedule.png">
                    Cooking time: {{item.cookingTime}}
                </h3>
                <div class="flex-center">
                    <p class="list-num">{{i + 1}}.</p>
                    <h2>{{item.name}}</h2>
                </div>
            </div>

            <div class="details">
                <div>Vegetarien</div>
                <div>Quick</div>
                <div><img src="assets/img/view/favorite.png"></div>
            </div>
        </div>
    </section>

    <footer>
        <p (click)="changePage(pagination - 1)">&lt;</p>
        <p (click)="changePage(pagination)">{{ pagination }}</p>
        <p *ngIf="pagination + 1 <= pages" (click)="changePage(pagination + 1)">
            {{ pagination + 1 }}
        </p>
        <p *ngIf="pagination + 2 <= pages" (click)="changePage(pagination + 2)">
            {{ pagination + 2 }}
        </p>
        <b *ngIf="pagination + 7 <= pages">...</b>
        <p *ngIf="pagination + 7 <= pages">{{ pagination + 7 }}</p>
        <p (click)="changePage(pagination + 1)">&gt;</p>
    </footer>
</main>