@use '../../../styles.scss' as *;

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: $font-green;
    font-family: 'Quicksand';
}

header {
    margin-left: 30px;
}


section {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title-container {
    height: clamp(10px, 16vh, 200px);
    width: 100%;
    @include flex-center;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: clamp(300px, 100%, 1440px) auto;
    margin: 0 20px 50px 20px;

    h1 {
        color: black;
        font-size: clamp(20px, 4vw, 40px);
        font-family: 'Quicksand';
        color: #10310B;
    }
}

.bg-Italian {
  background-image: url('../../../../public/assets/img/cookbook/it-recipes/Italian.png');
}

.bg-German {
  background-image: url('../../../../public/assets/img/cookbook/it-recipes/German.png');
   h1{
 padding-bottom: 5px !important;
  }
}

.bg-Japanese {
  background-image: url('../../../../public/assets/img/cookbook/it-recipes/Japanese.png');
  padding-bottom: 10px;
}

.bg-Gourmet {
  background-image: url('../../../../public/assets/img/cookbook/it-recipes/Gourmet.png');
  h1{
 padding-top: clamp(8px, 2vw, 20px) !important;
  }
}

.bg-Indian {
  background-image: url('../../../../public/assets/img/cookbook/it-recipes/Indian.png');
}

.bg-Fusion {
  background-image: url('../../../../public/assets/img/cookbook/it-recipes/Fusion.png');
}

.recipes-container {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .recipe-titel {
        display: flex;
        flex-direction: column;
    }

    h2 {
        display: flex;
        font-size: clamp(18px, 5vw, 24px);
    }

    .list-num {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: $font-color-white;
        @include flex-center;
        justify-content: center;
        font-size: clamp(16px, 4vw, 18px);
        margin: 0;
    }

    h3 {
        margin-left: 30px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: clamp(14px, 4vw, 16px);
        font-weight: 500;

        img {
            width: 16px;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $interactive-bg-hover;
        border-radius: 16px;
    }
}

.details {
    display: flex;
    gap: 7px;

    div {
        @include flex-center;
        padding: 3px 7px;
        background-color: $container-green;
        border-radius: 16px;
    }
}

.flex-center {
    @include flex-center;
    gap: 5px;
}

footer {
    position: static;
    bottom: 20px;
   margin-top: auto;
    width: 100%;

    div {
        @include flex-center;
        gap: 20px;
    }

    b {
        color: black;
        font-family: 'Quicksand';

        &:hover {
            cursor: default;
        }
    }

    p {
        padding: 3px 3px;
        color: black;
        font-family: 'Quicksand';

        &:hover {
            background-color: $container-green;
            cursor: pointer;
        }
    }

}

.btn-area {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
        padding: 10px 15px;
        background-color: $font-green;
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
    }

    margin: 0px 0 20px 0;

    p {
        margin-bottom: 10px;
        color: red
    }
}

.btn-area-mobile {
    display: none !important;
    justify-content: center;
    width: 100%;

    button {
        padding: 10px 15px;
        background-color: $font-green;
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Quicksand', sans-serif;
    }

    margin: 0px 0 20px 0;

    p {
        margin-bottom: 10px;
        color: red
    }
}

.likes {
    @include flex-center;
    gap: 5px;
}

.max-width-it {
    max-width: 1150px;
}

@media (max-width: 768px) {
    .recipes-container {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin-bottom: 30px;
        border-radius: 16px;

        h3{
                margin-left: 5px;
        }
    }


    .btn-area {
        display: none;
    }

    .btn-area-mobile {
        display: flex !important;
        margin: 20px 0;
    }

    footer {
        flex-direction: column;
    }

    .bg-mobile-items {
        background-color: $interactive-bg-hover;
    }

    .title-container {
        margin-top: 40px;
    }
}


@media (max-width: 400px) {
    section{
        padding: 0 5px;
    }

    .title-container {
        margin: 40px 20px 20px 20px;
         height: 50px;
    }
}