<main>
    <div  class="title-container">
        <h1>Generate recipe</h1>
        <h2>Got random stuff in your kitchen? Pop it in—we’ve got the perfect recipe waiting.</h2>
    </div>

    <section>
        <div class="input-content container-style">

            <div class="ingredient-container">
            <h3 class="text">Ingredient</h3>
            <input #ingred type="text">
            </div>

            <div class="add-container">
                <h3 class="text">Serving size</h3>
                <div>
                    <input #quantity type="number" class="no-spinner" placeholder="100" >
                    <img (click)="addIngredient()" src="assets/img/+.png">
                </div>
            </div>
        </div>

        <div class="flex-end">
        <div class="addlist container-style">
            <h3 class="text">List of your Ingredients</h3>
            <div *ngFor="let item of ingredients(), let i = index">
                <div class="item-container">
                <li>{{item.quantity}} {{item.name}}</li>
                <img (click)="deletItem(i)" src="assets/img/delete.png">
            </div>
            </div>
        </div>
        <button [class.dnone]="!showNectBtn" routerLink="/Preferences" class="btn-primary" >next Step</button>
        </div>
    </section>
</main>